* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(31, 31, 31);
}

*::-webkit-scrollbar-thumb {
    border-left: black 2px solid;
    background-color: white;
    border-radius: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    min-width: 1400px;
    margin: 0;
    background-color: black;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    text-align: center;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 5px;
    background-color: white;
}


nav a {
    color: black;
    text-decoration: none;
}

.left {
    position: relative;
}

.center {
    font-size: 18px;
}

.center>a {
    position: relative;
    color: black;
    font-weight: 500;
    margin: 0 20px;
}

.center>a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.center>a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.right a {
    margin: 0 10px;
}

.right img {
    height: .7cm;
}

.search-container {
    background-color: white;
    width: 100%;
    height: 70px;
    position: absolute;
    text-align: center;
    padding: 12px 0;
    opacity: 0;
    visibility: collapse;
}

.search-logo {
    cursor: pointer;
}

.search {
    outline: none;
    border: #1f1f1f solid 2px;
    background-color: white;
    color: black;
    height: 40px;
    width: 59%;
    border-radius: 5px;
    transition: width 0.3s;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
}

.search-container img {
    height: 30px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 10px;
}

.search-container.active {
    opacity: 100;
    visibility: visible;
    transition: .3s;
}

.search-container.active~nav {
    opacity: 0;
    visibility: collapse;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro {
    border-top: 5px white solid;
    border-bottom: 5px white solid;
    background-color: #1f1f1f;
    margin-top: 150px;
    height: 30em;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.intro h1 {
    margin-top: 30px;
    font-size: 50px;
}

.intro p {
    margin-top: 50px;
    width: 60%;
    font-size: 20px;
    text-align: center;
}

.vis-and-mis {
    display: flex;
}

.vis-and-mis div {
    border: white 5px solid;
    background-color: #1f1f1f;
    border-radius: 5px;
    margin: 80px 30px 150px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.vis-and-mis div>p {
    margin-top: 15px;
    font-size: 20px;
}

footer {
    border-top: solid 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.ftup {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 170px;
    padding-top: 40px;
    overflow: hidden;
}

footer div {
    justify-content: center;
    color: white;
}

footer h4 {
    margin-bottom: 10px;
}

footer hr {
    width: 90%;
    margin-bottom: 25px;
}

.aboutft {
    width: 10%;
}


.aboutft a:hover {
    border-bottom: white 1px solid;
}

.csft {
    width: 45%;
}

.contactft {
    width: 10%;
    text-align: center;
}

.contactft a {
    border: black solid 3px;
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    transition: .3s;
}

.contactft a:hover {
    background-color: #1f1f1f;
}

.contactft img {
    height: 30px;
}

.flwft {
    width: 14%;
    text-align: center;
}

.flwft a {
    border: black solid 3px;
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    transition: .3s;
}

.flwft a:hover {
    background-color: #1f1f1f;
}

.flwft img {
    height: 30px;
    margin: 0 5px;

}

.ftlink {
    color: white;
    text-decoration: none;
}