@import url(nav-footer-style.css);

main {
    min-height: 45em;
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.bag-empty {
    position: absolute;
    visibility: collapse;
}

.bag-empty h2 {
    font-size: 46px;
}

.bag-empty button {
    border: solid 3px white;
    background-color: transparent;
    color: white;
    margin-top: 30px;
    height: 50px;
    width: 300px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.bag-empty button:hover {
    background-color: #1f1f1f;
}

.bag {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px 30px;
    align-self: baseline;
    width: 98.5%;
    margin-top: 70px;
    margin-bottom: 50px;
    visibility: visible;
}

.title {
    font-size: 20px;
    width: 100%;
}

.title h1 {
    display: flex;
    justify-self: flex-start;
    padding-left: 10px;
    margin-bottom: 40px;
}

.bag-header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 10px;
}

.bag-header p {
    display: flex;
    justify-self: flex-start;
    padding-left: 10px;
}

.bag hr {
    background-color: white;
}

.item {
    display: flex;
    margin: 10px 0;
    height: 180px;
}

.item>div {
    height: 100%;
    display: flex;
    padding-left: 10px;
}

.device-desc {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 20px;
}

.item div:not(div:nth-child(odd)) {
    margin-top: 20px;
}

.device-desc h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.quantity {
    font-size: 20px;
    display: flex;
    align-items: baseline;
    margin-top: -5px;
}

.quantity>div {
    border-radius: 50%;
    margin: 0 10px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.total {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: 500;
}

.remove-button {
    height: 40px;
    padding: 20px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    background-color: black;
    border: white 2px solid;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.checkout {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 50px;

}

.subtotal {
    font-size: 26px;
    font-weight: 500;
}

.checkout-button {
    padding: 22px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    width: 250px;
    background-color: transparent;
    border: white 2px solid;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.checkout-button:hover,
.remove-button:hover {
    background-color: white;
    color: black;
}