* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(31, 31, 31);
}

*::-webkit-scrollbar-thumb {
    border-left: black 2px solid;
    background-color: white;
    border-radius: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    min-width: 1400px;
    overflow-x: hidden;
    margin: 0;
}

header {
    background-color: black;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50%;
}

header a {
    color: white;
    text-decoration: none;
}

.logout {
    border: solid 2px white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    transition: .3s;
}

.logout:hover {
    background-color: white;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

main>h2 {
    display: flex;
    margin-top: 50px;
}

main>div {
    border: solid 3px black;
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 5px;
    align-items: left;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
}

h2 img {
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;
    height: 30px;
    border-radius: 50%;
}

.address-list {
    display: flex;
    justify-content: center;
}

#no-address {
    visibility: collapse;
    position: absolute;
}

.address-list>p {
    visibility: visible;
    margin-bottom: 15px;
    margin-left: 5px;
    font-weight: 500;
}

.have-address {
    visibility: visible;
    border: 2px #00a2ff solid;
    background-color: hsla(194, 100%, 50%, 0.2);
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.order-list {
    min-height: 70px;
}

#no-order {
    visibility: collapse;
    position: absolute;
}

.have-order,
.title {
    display: flex;
}

.have-order>div,
.title>p {
    border-bottom: black 1px solid;
    padding: 10px;
}

.have-order a {
    text-decoration: none;
    color: #002fff;
}