body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: rgb(31, 31, 31);
}

body::-webkit-scrollbar-thumb {
    background-color: #ffebcd;
    border-radius: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ffebcd;
}

header {
    background-color: #1f1f1f;
    width: 100%;
    height: 100px;
    color: #ffffff;
    text-align: center;

}

.title {
    width: 18%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
}

.search {
    width: 61%;
    height: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -30px;
}

.search input:nth-child(1) {
    width: 50%;
    height: 35px;
    background-color: #ffebcd;
    border: solid 1px #ffebcd;
    border-radius: 10px;
    padding-left: 10px;
    margin: 25px;
    outline: none;
}

.search input:nth-child(2) {
    background-image: url(icon/icons8-search-48.png);
    background-color: #1f1f1f;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    height: 30px;
    width: 50px;
    margin-left: -10px;
    border-radius: 5px;
    border: solid 3px blanchedalmond;
}

.search input:nth-child(2):active {
    background-color: #8c8c8c;
    transition: 0.3s;
}


header div:nth-child(3) {
    width: 20%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 30px;
    position: relative;
    top: -15px;
}

header div:nth-child(3)>a {
    margin-left: 20px;
}

.cart {
    border: solid 1px #ffebcd;
    background-color: #ffebcd;
    background-image: url(icon/icons8-cart-32.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    text-decoration: none;
    display: inline-block;
}

.login {
    border: solid 4px #ffebcd;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    width: 80px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: -10px;
    transition: .3s;
}

.login:hover {
    background-color: #646464;
}

main {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #1f1f1f;
    margin: 20px;
    position: relative;
    top: 10px;
}

nav a:hover {
    text-decoration: underline;
    transition: .5s;
}

.ipbanner {
    background-color: #1f1f1f;
    color: #ffebcd;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 480px;
    margin-top: 50px;
}

.ipbanner h3 {
    font-size: 55px;
    padding: 15px;
}

.ipbanner p {
    font-size: 20px;
    margin-top: -60px;
}

.ipbanner a {
    text-decoration: none;
    color: #00a2ff;
    font-size: 18px;

}

.ipbanner a:hover {
    text-decoration: underline;
}

main img {
    height: 280px;
    margin-top: 30px;
}

main h1 {
    margin-top: 110px;
    font-size: 40px;
    border: solid 5px #1f1f1f;
    border-radius: 20px;
    color: #1f1f1f;
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}

.promotionalbanner {
    background-color: #1f1f1f;
    color: #ffebcd;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    margin-bottom: 40px;
}

.promotionalbanner div:nth-child(1) {
    height: 100%;
    width: 20%;
    display: inline-block;
    overflow: hidden;
}

.promotionalbanner img {
    position: relative;
    top: 5%;
}

.promotionalbanner div:nth-child(2) {
    color: #ffebcd;
    height: 100%;
    width: 20%;
    display: inline-block;
    overflow: hidden;
}


.promotionalbanner h2 {
    padding-top: 25px;
    font-size: 60px;
}

.promotionalbanner p {
    font-size: 30px;
    margin-top: -40px;
}

.promotionalbanner a {
    text-decoration: none;
    color: #00a2ff;
    font-size: 25px;
}

.promotionalbanner a:hover {
    text-decoration: underline;
}

.catetext {
    margin-top: 50px;
    font-size: 40px;
    border: solid 5px #1f1f1f;
    border-radius: 20px;
    color: #1f1f1f;
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;

}

.allcate {
    background-color: #1f1f1f;
    color: #ffebcd;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 450px;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    display: inline-block;
}

.allcate>div {
    border: #ffebcd solid 4px;
    width: 300px;
    height: 400px;
    margin: 0 20px;
    padding-bottom: 40px;
    text-align: center;
    display: inline-block;
}

.allcate>div img {
    border: #ffebcd solid 1px;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    padding-bottom: 10px;
}

.allcate>div p {
    margin-top: -10px;
}

.allcate>div a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffebcd;
    color: #1f1f1f;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    display: inline-block;
}

.allcate>a {
    color: #ffebcd;
    text-decoration: none;
    margin-left: 0 30px;
    height: 70px;
    display: inline-block;
    position: relative;
    bottom: 150px;
}

.allcate>a>img {
    height: 60px;
    margin-bottom: -15px;
}

.allcate>a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1f1f1f;
    height: 140px;
    margin-top: 200px;
    padding-top: 10px;
    overflow: hidden;
}

footer div {
    display: inline-block;
    overflow: hidden;
    color: #ffebcd;
}

.aboutft {
    width: 10%;
    height: 100%;
    text-align: left;
    padding-left: 50px;
}

.csft {
    width: 58%;
    height: 100%;
    text-align: left;
}

.contactft {
    width: 6%;
    height: 100%;
    text-align: center;
}

.contactft img {
    height: 30px;
    margin-top: -5px;
}

.flwft {
    width: 20%;
    height: 100%;
    text-align: center;
}

.flwft img {
    height: 30px;
    margin-top: -5px;

}

.ftlink {
    color: #ffebcd;
    text-decoration: none;
}